#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

// --- Configure default behaviors ---
&mt {
    flavor = "hold-preferred";
    tapping_term_ms = <280>;
};

&lt {
    flavor = "hold-preferred";
    tapping_term_ms = <280>;
};

/ {
    behaviors {

        // --- Hold-Taps ------------------------------------------------------
        brm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        // --- Custom shifted keys --------------------------------------------
        unds_dash: underscore_dash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UNDER>, <&kp MINUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        tilde_grv: tilde_grave {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        and_or: ampersand_pipe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp PIPE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        ques_excl: ques_excl_mark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mul_div: multiply_divide {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ASTRK>, <&kp FSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // --- Overwrites -----------------------------------------------------
        d_ctrl_v: d_control_v {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp V>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    /*            KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯        */

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>; // Q + W
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        layer_0 { // Alphas
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ' "     │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │
            &kp A      &kp R      &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z/ALT   │  X/GUI   │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ _ -      │
          &brm LALT Z &brm LGUI X &kp C      &d_ctrl_v  &kp V          &kp K      &kp H      &kp COMMA  &kp DOT   &unds_dash
        //╰──────────┴──────────┴┬─────────┴─────┬────┴──────────┤   ├──────────┴────┬─────┴─────────┬┴──────────┴──────────╯
                                  &mt LCTRL TAB   &mt LSHFT SPACE     &lt 1 BACKSPACE  &lt 2 DELETE
        //                       ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        layer_1 { // Symbols, Numbers, Navigation
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ~ `     │  [ {     │  ] }     │  * /     │  & |     │   │  PAGE UP │  HOME    │  UP      │  END     │          │
           &tilde_grv  &kp LBKT   &kp RBKT   &mul_div   &and_or        &kp PG_UP  &kp HOME   &kp UARW   &kp END    &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  = +     │  (       │  )       │  ; :     │  ? !     │   │  PAGE DN    LEFT    │  DOWN    │  RIGHT   │  ENTER   │
           &kp EQUAL   &kp LPAR   &kp RPAR   &kp SEMI   &ques_excl     &kp PG_DN  &kp LARW   &kp DARW   &kp RARW   &kp ENTER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  0/ALT   │  1/GUI   │  2 @     │  3 #     │  4 $     │   │  5 %     │  6 ^     │  7       │  8       │  9       │
          &brm LALT 0 &brm LGUI 1 &kp N2     &kp N3     &kp N4         &kp N5     &kp N6     &kp N7     &kp N8     &kp N9
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_2 { // F-keys
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
            &kp F9     &kp F10    &kp F11    &kp F12    &trans         &trans     &kp F9     &kp F10    &kp F11    &kp F12
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &kp F5     &kp F6     &kp F7     &kp F8     &trans         &trans     &kp F5     &kp F6     &kp F7     &kp F8
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │screenshot│          │          │          │          │
        &brm LALT F1 &brm LGUI F2 &kp F3     &kp F4     &trans         &kp PSCRN  &kp F1     &kp F2     &kp F3     &kp F4
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_3 { // Controls
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │PROFILE 0 │   │          │ MOUSE L  │ MOUSE M  │ MOUSE R  │          │
            &none      &none      &none      &none     &bt BT_SEL 0    &none     &mkp LCLK  &mkp MB3   &mkp RCLK    &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │PROFILE 1 │   │          │ MUTE     │ VOLUME-  │ VOLUME+  │          │
            &none      &none      &none      &none     &bt BT_SEL 1    &none   &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │ LAYER 4  │ BRIGHT-  │ BRIGHT+  │          │
            &none      &none      &none     &bt BT_CLR &bt BT_SEL 2    &none      &tog 4  &kp C_BRI_DN &kp C_BRI_UP &none 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &none      &none          &none      &none 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_4 { // Gaming
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │  UP      │          │          │
            &kp Q      &kp W      &kp E      &kp R      &kp T         &none      &none      &kp UARW   &none      &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │  LEFT    │  DOWN    │  RIGHT   │          │
            &kp A      &kp S      &kp D      &kp F      &kp G          &none      &kp LARW   &kp DARW   &kp RARW   &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &none      &tog 4     &none      &none      &none 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
